body {
}
.landing {
    min-height:665px;
    background:white url(../img/login/bg-landing-1.jpg) 40% 5% no-repeat;
}
.introduction-p {
    font-size: 18px;
    max-width: 350px;
    margin: 0 0 15px 0;
    line-height: 25px;
    color: #383d48;
    padding:0px;
}


.user-signin-1 .panel {
    position:absolute;
    width:100%;
    /* background-color: #FFF; */
background:rgba(255,255,255,0.4);
/*  startcolorstr 其格式为 #AARRGGBB 。 AA 、 RR 、 GG 、 BB 为十六进制正整数。取值范围为 00 C FF 。 RR 指定红色值， GG 指定绿色值， BB 指定蓝色值，参阅 #RRGGBB 颜色单位。 AA 指定透明度。 00 是完全透明。 FF 是完全不透明。超出取值范围的值将被恢复为默认值。
　　取值范围为 #FF000000 C #FFFFFFFF 。默认值为 #FF0000FF 。不透明蓝色。
    */
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);
-webkit-box-shadow: 0 0 0 1px rgba(255,255,255,.6);

margin: 1em;
padding: 1em;
border-radius: 5px;
/*
    box-shadow: 0 0 0 1px rgba(255,255,255,.6);
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
    */
}
.paddright0 {
    padding-right:0px;
}
.paddleft0 {
    padding-left:0px;
}
a {
    color: #379CE0;
    text-decoration: none;
}
a:hover {
    color: #379CE0;
    text-decoration: none;
}
.lp-secondary {
display: block;
color: #3784d3;
text-decoration: none;
}
.lp-secondary:hover {
display: block;
color: #3784d3;
text-decoration: none;
}
#login-container {
    font: 13px;
color: #383d48;
margin: 0;
padding: 0;
line-height: 20px;
}
.free-register {
    border-top: 1px solid #BBB;
}
hr {
    margin-top:7px;border:0;background-color:#bbb;height:1px;
}
#forgot-pwd-form p{
    font-size: 13px;
}
.section-header {
font-size: 24px;
font-weight: 200;
line-height: 32px;
}
.martop30 {
    margin-top:30px;
}
.marbottom20 {
    margin-bottom:20px;
}
.martop100 {
    margin-top:100px;
}
.marbottom100 {
    margin-bottom:100px;
}
.section-1 {
    font-size: 18px;
}
.marleft27 {
    margin-left: 27px;
}
.martop5 {
    margin-top: 5px;
}
.paddbottom50 {
    padding-bottom: 50px;
}
.width170 {
    width:170px;
}
.width70 {
    width:70%;
    margin:0px auto;
}
.marbottom50 {
    margin-bottom: 50px;
}
.width140{
    width:140px;
}
.boxSite {
	position: relative;
	overflow: hidden;
}
.clearLeft {
clear: left;
}
section,figure {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	outline: 0;
	background: transparent;
}
.boxSite header {
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
	background: rgba(0,0,0,.3);
	left: 0;
	right: 0;
	z-index: 2;
	display:block;
}

.boxSite h2 {
	margin: 0;
	padding: 0;
	color: #fff;
	text-transform: uppercase;
	padding: 5px 10px;
	text-shadow: 1px 1px 0 #202020;
	font: 1.3em/1.1em Arial,sans-serif;
	text-rendering: optimizeLegibility;
	vertical-align: baseline;
	outline: 0;
	background: transparent;
}
h2 {
	display: block;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
.container img {
	vertical-align: middle;
	text-align: center;
}
.boxSite div {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 230px;
	height: 155px;
	background:rgba(255,255,255,0.4);
/*  startcolorstr 其格式为 #AARRGGBB 。 AA 、 RR 、 GG 、 BB 为十六进制正整数。取值范围为 00 C FF 。 RR 指定红色值， GG 指定绿色值， BB 指定蓝色值，参阅 #RRGGBB 颜色单位。 AA 指定透明度。 00 是完全透明。 FF 是完全不透明。超出取值范围的值将被恢复为默认值。
　　取值范围为 #FF000000 C #FFFFFFFF 。默认值为 #FF0000FF 。不透明蓝色。
    */
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);
-webkit-box-shadow: 0 0 0 1px rgba(255,255,255,.6);

	padding: 43px 10px 10px 10px;
	z-index: 1;
}
.bottom-type {
	font-size:13px;
	text-align:center;
	padding:10px 0px 30px 0px;
	color: #777;
}
.padd {
    padding:0px 10px 0px 10px;
}
.group-title {
    font-size: 15px;
}
.sender-and-recipients {
    font: 13px Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #383d48;
    margin: 0;
    padding: 0;
    line-height: 20px;
}
.marleft10 {
    margin-left: 10px;
}
textarea {
    height:34px;overflow-y:visible;resize: none;
}
.marbottom10 {
    margin-bottom:10px;
}
.reply-user-info {
    width:90%;
    margin-left:44px;
}
.subtext {
    color: #839096;
}
.total-reply {
    margin-left:4px;
}
.menber-class{
font-weight: 200;
line-height: 32px;
}
.martop0 {
    margin-top:0px;
}
.is-add-firend-info{
    margin-top:5px;
}
.marbottom15 {
    margin-bottom:15px;
}
.width95 {
    width:95px;
}
.width136 {
    width:136px;
}
.paddingtop20 {
    padding-top:20px;
}

.martop10 {
    margin-top:10px;
}
.width300 {
    width:300px;
}
.paddright13 {
    padding-right:13px;
}
.border-doil {
    border-bottom:1px #ddd dotted;
    border-spacing:2px;
}
.title-type{
width:420px;
overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
white-space:nowrap;/* 不换行 */
}
.padding0 {
    padding:0px 0px 0px 0px;
}
.title-hover-bolor:hover {
    color:white;
    background-color:green;
}
.post-time-type{
    margin-left:10px;
    color:#007722
}
.paddrow {
    padding: 0px 30px 0px 35px;
}
.paddrow .on {
    font-size: 12px;
    color: #fff;
    background:#83bf73;
    border-radius: 3px;
    line-height: 1.2;
    letter-spacing: normal;
    word-spacing: normal;
    margin-right: 5px;
    padding:1px 8px;
}
.already-add-group {
   margin-left:15px;display:block;margin-top: 5px;
}
.old-user-reply {
    border-left:1px solid #000;
    padding-left:5px;
}
.new-reply-user-content {
    margin-top:20px;
}
.no-add-group{
    margin-left:15px;
}
.marginr20 {
    margin-right:20px;
}
.fonts {
    font-size:15px;
}
.backgroundc{
    background-color:#EBF6FE;
}
.color{
    color:#f8b703;
}
.font-w {
    font-weight:bold;
    color:#777;
}
.paddbottom20 {
    padding-bottom:20px;
}
.paddtop2 {
    padding-top:5px;
}
.bg-color {
    background-color:#0bb538;
    color:white;
}

.btn-twitter {
			padding-left: 30px;
			background: rgba(0, 0, 0, 0) url(https://platform.twitter.com/widgets/images/btn.27237bab4db188ca749164efd38861b0.png) -20px 9px no-repeat;
		}
.btn-twitter:hover {
	background-position:  -21px -16px;
}
.edui-image ul li a {
    width: 90px;
    height: 90px;
    border: 1px solid #eaeaea;
    background: #f8f8f8 url(../img/bg-upd.jpg) no-repeat 50% 40%;
    display: block;
    position: relative;
}
.edui-image ul li {
width: 92px;
height: 90px;
padding: 5px 20px 20px 0px;
float: left;
list-style: none;
margin-right:10px;
}

.edui-image ul li a .pos-upd {
width: 100%;
height: 22px;
text-align: center;
display: block;
color: #999;

}
.edui-image ul li input {
width: 90px;
height: 90px;
cursor: pointer;
display: block;
margin: 0px;
padding: 0px;
position: absolute;
left: 0;
top: 0;
filter: alpha(opacity:0);
opacity: 0;
}
.edui-image ul li img {
width: 90px;
height: 90px;
}
.edui-image ul li a .pos-bg {
width: 100%;
height: 22px;
display: block;
background: #FFF;
filter: alpha(opacity:70);
opacity: 0.7;
position: absolute;
left: 0;
top: 70px;
z-index: 2;
}
.edui-image ul li a .pos-opt {
width: 100%;
height: 22px;
text-align: center;
display: block;
position: absolute;
left: 0;
top: 70px;
z-index: 3;
}
.marginr14 {
    margin-right:14px;
}
.marginr10 {
    margin-right:10px;
}
/************************ 发起项目 ************************/
.member-list-div{
	padding:0px;
	float:left;
	margin-right:20px;
}
.invite-member-div{
	padding:0px;
	float:left;
	width:107px;height:42px; 
	line-height:42px;
	cursor:pointer;
	border:1px dashed  #ddd;
	text-align:center;
	background-color:#fff;
}
.hr-style{
	border-top: 1px dashed #cccccc;
	height: 1px;
	overflow: hidden;
}
.hr-style-1{
    border-top: 1px solid #F3F3F3;
	height: 1px;
	overflow: hidden;
}
.hr-style-2{
    border-top: 1px solid #DBDBDB;
	height: 1px;
	overflow: hidden;
}
.created-return-div{
	padding:0px;
	float:left;
	width:180px;
	height:42px; 
	line-height:42px;
	cursor:pointer;
	border:1px solid  #5cb85c;
	color:#5cb85c;
	text-align:center;
	background-color:#fff;
	margin-right:20px;
}
.created-return-div1{
	padding:0px;
	float:left;
	width:180px;
	height:42px; 
	line-height:42px;
	cursor:pointer;
	border:1px dashed  #5cb85c;
	color:#5cb85c;
	text-align:center;
	background-color:#fff;
	margin-right:20px;
}
.preview-div{
	padding:0px;
	float:left;
	width:100%;
	height:30px; 
	line-height:30px;
	cursor:pointer;
	border:1px solid  #B08454;
	color:#B08454;
	background-color:#FCF8E3;
}
.paddrow{
	padding:20px 10px 10px 10px;
}
.paddrow1{
	margin-left:0px;margin-right:0px;margin-top:10px;
}
.color-row{
	color:#D2D2D2;
}
.div-block-type{
	height:179px;
	line-height:179px;
	text-align:center;
	font-size:12px;
}
.div-block-type1{
	height:94px;
	line-height:94px;
	text-align:center;
	font-size:12px;
    margin-bottom:-2px;
}
.div-block-type2{
	height:170px;
	line-height:170px;
	text-align:center;
	font-size:12px;
    margin-bottom:-2px;
}
.project-a-type{
	color:#fff;
}
.project-a-type:hover{
	color:#fff;
}
.martop40{
    margin-top:40px;
}
.text-type-1{
    border:1px solid #BE9B70;
    background-color:#FCF8E3;
    color:#B08454;
    font-size:12px;
    padding:10px 30px 10px 30px;
    line-height:20px;
}
.text-type-2{
    background-color:#FBFBFB;
    color:#858585;
    font-size:12px;
    padding:10px 30px 10px 30px;
    line-height:20px;
}
.text-type-3{
     border:1px solid #FAEFD1;
    background-color:#FCF8E3;
    color:#A5723F;
    font-size:14px;
    padding:10px 30px 10px 30px;
    line-height:20px;
}
.martop15{
    margin-top:15px;
}
.group-hover-bgcolor :hover{
    background-color:#F5F5F5;
}
.c_img{
    position:relative;
}
.c_words{
position: absolute;
top: 0px;
height: 150px;
line-height: 284px;
padding-left: 5px;
color: #fff;
}
.color-A7A7A7{
    color:#A7A7A7;
}
.img_reply{
     position:relative;
}
.num_reply{
 position: absolute;
top: 0px;
height: 24px;
line-height: 20px;
width:28px;
color: #fff;
}
.member-group-taolun{
    margin-right:5px;
}
.btn-class{
    padding:2px 8px 2px 8px;
}
.btn-class-1{
    padding:0px 8px 0px 8px;
}
.btn-class-1:hover{
   background-color:#269ABC
}
.color-red{
    color:red;
}
.color-blue{
    color:blue;
}
fieldset.scheduler-border {
    border: 1px solid #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
    border-radius:6px;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    margin-bottom:0px;
}
legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}
.martop20{
    margin-top:20px;
}
.div-style-1{
    border:1px solid #EEEEEE;height:49px;line-height:49px;background-color:#FFFFFF;font-size:25px;color:#DBDBDB;
}

.c_identity_img{
    position:relative;

}
.c_identity_words{
position: absolute;
top: 0px;
height: 25px;
line-height: 25px;
padding-left: 30px;
color: #fff;
}
.bold{
    font-weight:bold;
}
.fonts20{
    font-size:20px;
}
.fcolor5BB85B{
    color:#5BB85B;
}
.fcolor2DB200{
    color:#2DB200;
}
.fcolorred{
    color:red;
}
.admin-head{
    border:#fff dashed 1px;
    padding:5px 5px 20px 5px;
    margin-right:10px;
    width:101px;
    min-width:101px;
}
.colorA6A6A6{
    color:#A6A6A6;
}
.colorA6A6A6:hover{
    color:#A6A6A6;
}
.color525252{
    color:#525252;
}
.p_img{
    position:relative;
}
.p_word1{
position: absolute;
top: 20px;
height: 95px;
line-height: 95px;
padding-left: 48px;
color: #fff;
font-size:24px;
}
.p_word2{
position: absolute;
top: 20px;
height: 95px;
line-height: 95px;
padding-left: 158px;
color: #fff;
font-size:24px;
}
.martop70{
    margin-top:70px;
}
.colorA5A5A5{
    color:#A5A5A5;
}
.bq-style{
    display:inline-block;
    font-size:14px;
    padding:5px 15px 5px 15px;
    margin-right:10px;
    font-weight:100;
    margin-bottom:10px;
}
.label-gray{
    background-color:#D1B691;
    font-weight:100;
}
.label-gray-1{
    background-color:#fff;
    color:#D1B691;
    border:1px solid #D1B691;
    padding:4px 14px 4px 14px;
}
.lable-danger-1{
    background-color:#fff;
    color:#d9534f;
    border:1px solid #d9534f;
    padding:4px 14px 4px 14px;
}
.btn-img{
    width:72px;
    height:72px;
    text-align:center;
    color:#959595;
    cursor:pointer;
    background:url(../img/login/_r5_c6.png) left top no-repeat;
}
.btn-img:hover{
    color:#fff;
    background:url(../img/login/_r5_c7.png) left top no-repeat;
}
.height38{
    height:38px;
}
.pwd-info{
    width:71px;
    height:18px;
    float:left;
    margin-right:1px;
    color:#fff;
    text-align:center;
    font-size:12px;
}
.pwd-info-1{
   background-color:#ddd;
}
.pwd-info-2{
   background-color:#ddd;
}
.pwd-info-3{
   background-color:#ddd;
}
.lyp-left-time-ul{
    padding:0px;
    list-style:none;
}
.lyp-left-letter-ul{
     padding:0px;
    list-style:none;
}
.lyp-left-letter-ul > li{
     min-height:53px;
    line-height:53px;
    text-align:center;
    vertical-align:middle;
    border-bottom:1px solid #DFDFDF;
}
.lyp-left-letter-ul > li a{
     color:#999;
     text-decoration:underline;
}
.lyp-left-letter-ul > li:hover{
   background-color:#F5F5F5;
    cursor:pointer;
}
   .lyp-left-letter-ul > li.active a {
        color:#fff;
        text-decoration:underline;
    }
.lyp-left-letter-ul > li.active {
    background-color:#5CB85C;
    color:#fff;
    cursor:pointer;
}
.lyp-left-letter-ul > li.active s {
    margin-top:20px;
    width: 0;
    height: 0;
    font-size: 0;
    float:right;
    border-top: 8px solid transparent;
    border-right: 8px solid #fff;
    border-bottom: 8px solid transparent;

}
.lyp-month-style{
    font-size:20px;
    color:#A8A8A8;
}
.lyp-year-style{
     font-size:24px;
    color:#A8A8A8;
}
.lyp-left-time-ul .select-year {
    font-size:24px;
 }
.lyp-left-time-ul > li{
    min-height:85px;
    line-height:85px;
    text-align:center;
    vertical-align:middle;
    border-bottom:1px solid #DFDFDF;
}
.lyp-left-time-ul > li:last-child{
    border-bottom:none;
}
.lyp-left-time-ul > li:hover {
    background-color:#F5F5F5;
    cursor:pointer;
}
.lyp-left-time-ul > li.active {
    background-color:#5CB85C;
    color:#fff;
    cursor:pointer;
}
.lyp-left-time-ul > li.active s {
    margin-top:36px;
    width: 0;
    height: 0;
    font-size: 0;
    float:right;
    border-top: 8px solid transparent;
    border-right: 8px solid #fff;
    border-bottom: 8px solid transparent;

}
.news-date-style{
    font-size:37px;
    color:#B3B3B3;
}
.news-title-style{
    font-size:23px;
    color:#444444;
}
.news-info-style{
    font-size:12px;
    color:#838383;
}
.new-info-style-span{
    margin-right:15px;
}
.news-content-style{
    font-size:14px;
    color:#000;
    line-height:25px;
}
.margin0{
    margin:0px 0px 0px 0px;
}
.new-share-style-span{
    font-size:12px;
    color:#A5A5A5;
    margin-left:15px;
}
.share-img{
    margin-left:5px;
}
.news-detail-content{
    padding:30px 30px 40px 30px;line-height:30px;font-size:16px;color:#444444;
}
.color999999{
    color:#999999;
}
.edit-click{
    background-color:#A8A8A8;
    color:#fff;
}
.backgrundcolorEEF7FF{
    background-color:#EEF7FF;
    padding-top:8px;
    padding-bottom:8px;
}
.marright15{
    margin-right:15px;
}
.lyp-user-index-nav {
    padding-left: 0px;
    list-style: none;
    position: absolute;
}

 .lyp-user-index-nav > li {
        min-width: 100px;
        background-color: #FBFBFB;
        padding: 10px 30px;
        display: inline-block;
        float: left;
        
        cursor: pointer;
}
 .lyp-user-index-nav > li > a {
    color:#A7A7A7;
    font-size:15px;
}
 .lyp-user-index-nav .active{
     color:#5CB85C;
     font-size:15px;
     border-bottom: solid 3px #5CB85C;
 }
 .color5CB85C{
     color:#5CB85C;
 }
 .height170{
     height:170px;
     line-height:170px;
 }
  .height47{
     height:47px;
     line-height:47px;
 }
  .lyp-bbs-box-top::before {
    position: absolute;
    margin-top: -20px;
    /*margin-top: -28px;*/
    right:70px;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f5f5f5;
    border-left: 10px solid transparent;
    border-bottom-color: #f0f0f0;
    content: '';
}

.lyp-bbs-box-top::after {
    position: absolute;
    right: 70px;
    /*margin-top: -27px;*/
    margin-top: -19px;
    display: inline-block;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #F5F5F5;
    border-left: 9px solid transparent;
    content: '';
}

